SEMWebFront/WebContent/wsdl/EmployeeServiceWebServiceV1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions name="EmployeeServiceWebServiceServiceDefinitions" targetNamespace="http://com/ais/websrv" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://com/ais/websrv" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:com.ais.bean.common" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://com/ais/websrv" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Message">
        <xs:sequence>
          <xs:element minOccurs="1" name="ErrorCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>/** 
 * @return Returns the errorCode.
 */</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="TokenId" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>/** 
 * @return Returns the tokenId.
 */</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ErrorMesg" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>/** 
 * @return Returns the errorMesg.
 */</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Flag" nillable="false" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>/** 
 * @return Returns the flag.
 */</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ServiceName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>/** 
 * @return Returns the serviceName.
 */</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Type" nillable="false" type="xs:int">
            <xs:annotation>
              <xs:documentation>/** 
 * @return Returns the type.
 */</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ServiceType" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>/** 
 * @return Returns the serviceType.
 */</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:com.ais.bean.Permission" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://com/ais/websrv" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:com.ais.bean.common"/>
      <xs:complexType name="SSOResponse">
        <xs:annotation>
          <xs:documentation>/** 
 * @author  elmo_8201
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="TokenId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Message" nillable="true" type="java:Message" xmlns:java="java:com.ais.bean.common"/>
          <xs:element minOccurs="1" name="SSOProgCode" nillable="true" type="java:SSOProgCode" xmlns:java="java:com.ais.bean.Permission"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SSOProgCodeList" nillable="true" type="java:SSOProgDesc" xmlns:java="java:com.ais.bean.Permission"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SSOCompCode" nillable="true" type="java:SSOCompCode" xmlns:java="java:com.ais.bean.Permission"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SSOEMailListDetail" nillable="true" type="java:SSOEMailListDetail" xmlns:java="java:com.ais.bean.Permission"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SSOAuthorizeSubmodule" nillable="true" type="java:SSOAuthorizeSubmodule" xmlns:java="java:com.ais.bean.Permission"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SSOProgCodecArr" nillable="true" type="java:SSOProgCode" xmlns:java="java:com.ais.bean.Permission"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SSOProgCode">
        <xs:annotation>
          <xs:documentation>/** 
 * @author  elmo_8201
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="UserGid" nillable="false" type="xs:long"/>
          <xs:element minOccurs="1" name="SubMid" nillable="false" type="xs:long"/>
          <xs:element minOccurs="1" name="ProgCodeId" nillable="false" type="xs:long"/>
          <xs:element minOccurs="1" name="ProgDesc" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Add" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Edit" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Del" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Inq" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Proc" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth1" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth2" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth3" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth1_desc" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth2_desc" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth3_desc" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SSOProgDesc">
        <xs:annotation>
          <xs:documentation>/** 
 * @author  p_narue
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="ProgCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="ProgDesc" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SSOCompCode">
        <xs:annotation>
          <xs:documentation>/** 
 * @author  elmo_8201
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="UserGid" nillable="false" type="xs:long"/>
          <xs:element minOccurs="1" name="SubMid" nillable="false" type="xs:long"/>
          <xs:element minOccurs="1" name="ProgCodeId" nillable="false" type="xs:long"/>
          <xs:element minOccurs="1" name="CompCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="CompDesc" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Visible" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Enable" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Edit" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth1" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth2" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth3" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth1_desc" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth2_desc" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Oth3_desc" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SSOEMailListDetail">
        <xs:annotation>
          <xs:documentation>/** 
 * @author  p_narue
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="SSOProgCode" nillable="true" type="java:SSOProgCode" xmlns:java="java:com.ais.bean.Permission"/>
          <xs:element minOccurs="1" name="SSOSubmodule" nillable="true" type="java:SSOSubmodule" xmlns:java="java:com.ais.bean.Permission"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="EmailList" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SSOSubmodule">
        <xs:annotation>
          <xs:documentation>/** 
 * @author  p_narue
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="SubModuleName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="SubModuleDesc" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SSOAuthorizeSubmodule">
        <xs:annotation>
          <xs:documentation>/** 
 * @author  p_narue
 */</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="SSOProgCode" nillable="true" type="java:SSOProgCode" xmlns:java="java:com.ais.bean.Permission"/>
          <xs:element minOccurs="1" name="SSOSubmodule" nillable="true" type="java:SSOSubmodule" xmlns:java="java:com.ais.bean.Permission"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com/ais/websrv" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://com/ais/websrv" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:com.ais.bean.Permission"/>
      <xs:element name="getUserEmailListOfSubmoduleOnProgramCode">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="moduleAbv" type="xs:string"/>
            <xs:element name="progCode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUserEmailListOfSubmoduleOnProgramCodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:SSOResponse" xmlns:java="java:com.ais.bean.Permission"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="syncUserSession">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TokenId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="syncUserSessionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:SSOResponse" xmlns:java="java:com.ais.bean.Permission"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="decreaseCounter">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TokenId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="decreaseCounterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:SSOResponse" xmlns:java="java:com.ais.bean.Permission"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAuthorizeOfSubmoduleOnProgramCode">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="moduleAbv" type="xs:string"/>
            <xs:element name="progCode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAuthorizeOfSubmoduleOnProgramCodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:SSOResponse" xmlns:java="java:com.ais.bean.Permission"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logOut">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TokenId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logOutResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:SSOResponse" xmlns:java="java:com.ais.bean.Permission"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProgCode">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TokenId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProgCodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:SSOResponse" xmlns:java="java:com.ais.bean.Permission"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPermission">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TokenId" type="xs:string"/>
            <xs:element name="progCode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPermissionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:SSOResponse" xmlns:java="java:com.ais.bean.Permission"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getToken">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="module" type="xs:string"/>
            <xs:element name="ou_type" type="xs:string"/>
            <xs:element name="projectCode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getTokenResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:SSOResponse" xmlns:java="java:com.ais.bean.Permission"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="getUserEmailListOfSubmoduleOnProgramCode">
    <s0:part element="s1:getUserEmailListOfSubmoduleOnProgramCode" name="parameters"/>
  </s0:message>
  <s0:message name="getUserEmailListOfSubmoduleOnProgramCodeResponse">
    <s0:part element="s1:getUserEmailListOfSubmoduleOnProgramCodeResponse" name="parameters"/>
  </s0:message>
  <s0:message name="syncUserSession">
    <s0:part element="s1:syncUserSession" name="parameters"/>
  </s0:message>
  <s0:message name="syncUserSessionResponse">
    <s0:part element="s1:syncUserSessionResponse" name="parameters"/>
  </s0:message>
  <s0:message name="decreaseCounter">
    <s0:part element="s1:decreaseCounter" name="parameters"/>
  </s0:message>
  <s0:message name="decreaseCounterResponse">
    <s0:part element="s1:decreaseCounterResponse" name="parameters"/>
  </s0:message>
  <s0:message name="getAuthorizeOfSubmoduleOnProgramCode">
    <s0:part element="s1:getAuthorizeOfSubmoduleOnProgramCode" name="parameters"/>
  </s0:message>
  <s0:message name="getAuthorizeOfSubmoduleOnProgramCodeResponse">
    <s0:part element="s1:getAuthorizeOfSubmoduleOnProgramCodeResponse" name="parameters"/>
  </s0:message>
  <s0:message name="logOut">
    <s0:part element="s1:logOut" name="parameters"/>
  </s0:message>
  <s0:message name="logOutResponse">
    <s0:part element="s1:logOutResponse" name="parameters"/>
  </s0:message>
  <s0:message name="getProgCode">
    <s0:part element="s1:getProgCode" name="parameters"/>
  </s0:message>
  <s0:message name="getProgCodeResponse">
    <s0:part element="s1:getProgCodeResponse" name="parameters"/>
  </s0:message>
  <s0:message name="getPermission">
    <s0:part element="s1:getPermission" name="parameters"/>
  </s0:message>
  <s0:message name="getPermissionResponse">
    <s0:part element="s1:getPermissionResponse" name="parameters"/>
  </s0:message>
  <s0:message name="getToken">
    <s0:part element="s1:getToken" name="parameters"/>
  </s0:message>
  <s0:message name="getTokenResponse">
    <s0:part element="s1:getTokenResponse" name="parameters"/>
  </s0:message>
  <s0:portType name="EmployeeServiceWebService">
    <s0:operation name="getUserEmailListOfSubmoduleOnProgramCode" parameterOrder="parameters">
      <s0:input message="s1:getUserEmailListOfSubmoduleOnProgramCode"/>
      <s0:output message="s1:getUserEmailListOfSubmoduleOnProgramCodeResponse"/>
    </s0:operation>
    <s0:operation name="syncUserSession" parameterOrder="parameters">
      <s0:input message="s1:syncUserSession"/>
      <s0:output message="s1:syncUserSessionResponse"/>
    </s0:operation>
    <s0:operation name="decreaseCounter" parameterOrder="parameters">
      <s0:input message="s1:decreaseCounter"/>
      <s0:output message="s1:decreaseCounterResponse"/>
    </s0:operation>
    <s0:operation name="getAuthorizeOfSubmoduleOnProgramCode" parameterOrder="parameters">
      <s0:input message="s1:getAuthorizeOfSubmoduleOnProgramCode"/>
      <s0:output message="s1:getAuthorizeOfSubmoduleOnProgramCodeResponse"/>
    </s0:operation>
    <s0:operation name="logOut" parameterOrder="parameters">
      <s0:input message="s1:logOut"/>
      <s0:output message="s1:logOutResponse"/>
    </s0:operation>
    <s0:operation name="getProgCode" parameterOrder="parameters">
      <s0:input message="s1:getProgCode"/>
      <s0:output message="s1:getProgCodeResponse"/>
    </s0:operation>
    <s0:operation name="getPermission" parameterOrder="parameters">
      <s0:input message="s1:getPermission"/>
      <s0:output message="s1:getPermissionResponse"/>
    </s0:operation>
    <s0:operation name="getToken" parameterOrder="parameters">
      <s0:input message="s1:getToken"/>
      <s0:output message="s1:getTokenResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="EmployeeServiceWebServiceServiceSoapBinding" type="s1:EmployeeServiceWebService">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="getUserEmailListOfSubmoduleOnProgramCode">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="syncUserSession">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="decreaseCounter">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="getAuthorizeOfSubmoduleOnProgramCode">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="logOut">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="getProgCode">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="getPermission">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="getToken">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="EmployeeServiceWebServiceService">
    <s0:port binding="s1:EmployeeServiceWebServiceServiceSoapBinding" name="EmployeeServiceWebServiceSoapPort">
      <s2:address location="http://10.13.163.57:7211/EmployeeServiceWebService/EmployeeServiceWebService.jws"/>
    </s0:port>
  </s0:service>
</s0:definitions>